<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roof Insights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="title">Roof Insights</div>
        <div class="links">
            <a href="/">Home</a>
        </div>
    </div>
    <div class="container">
        <h1>Welcome to Roof Insights</h1>
        
        <div class="video-container">
            <form action="/capture" method="post">
                <div class="controls">
                    <label for="lower_gloss_thresh">Lower Gloss Threshold:</label>
                    <input type="number" id="lower_gloss_thresh" name="lower_gloss_thresh" value="{{ lower_gloss_thresh }}" min="0" max="255">
                    <label for="upper_gloss_thresh">Upper Gloss Threshold:</label>
                    <input type="number" id="upper_gloss_thresh" name="upper_gloss_thresh" value="{{ upper_gloss_thresh }}" min="0" max="255">
                    
                    <!-- New Dropdown for Model Selection -->
                    <label for="model_selection">Select Model:</label>
                    <select id="model_selection" name="model_selection">
                        <option value="model_a" {% if not switch_model %}selected{% endif %}>Model A</option>
                        <option value="model_b" {% if switch_model %}selected{% endif %}>Model B</option>
                    </select>

                    <button type="submit" class="btn">Capture Image</button>
                </div>
            </form>
        </div>
        
        <div class="image-grid">
            <div class="grid-item">
                <h3>Live Video Feed:</h3>
                <img src="{{ url_for('video_stream') }}" class="grid-image" onclick="openModal(this.src)" />
            </div>
            {% if captured_image %}
            <div class="grid-item">
                <h3>Original Image:</h3>
                <img src="{{ original_image }}" class="grid-image" onclick="openModal(this.src)" />
            </div>
            <div class="grid-item">
                <h3>Gloss location in entire image:</h3>
                <img src="{{ captured_image }}" class="grid-image" onclick="openModal(this.src)" />
            </div>
            <!-- <div class="grid-item">
                <h3>Slab Segmentation Mask:</h3>
                <img src="{{ slab_mask_image }}" class="grid-image" onclick="openModal(this.src)" />
            </div>
            <div class="grid-item">
                <h3>Gloss Mask:</h3>
                <img src="{{ gloss_mask_image }}" class="grid-image" onclick="openModal(this.src)" />
            </div> -->
            <div class="grid-item">
                <h3>Segmented Shingle:</h3>
                <img src="{{ url_for('processed_image_1_stream') }}" class="grid-image" onclick="openModal(this.src)" />
            </div>
            <div class="grid-item">
                <h3>Shingle with Sheen Markings</h3>
                <img src="{{ url_for('processed_image_2_stream') }}" class="grid-image" onclick="openModal(this.src)" />
            </div>
            <div class="grid-item">
                <h3>Grayscale image</h3>
                <img src="{{ url_for('processed_image_3_stream') }}" class="grid-image" onclick="openModal(this.src)" />
            </div>
            <!-- <div class="grid-item">
                <h3>CV Sheen spots:</h3>
                <img src="{{ url_for('processed_image_4_stream') }}" class="grid-image" onclick="openModal(this.src)" />
            </div> -->
            {% endif %}
        </div>

        <div>
            {% if sheen_percentage is not none %}
                <p>Glossy Area Percentage: {{ sheen_percentage|round(2) }}%</p>
            {% else %}
                <p>Glossy Area Percentage: N/A</p>
            {% endif %}
        </div>
        
    </div>
    <!-- Modal Structure -->
    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>
    <div class="footer">
        &copy; 2024 Roof Insights. All rights reserved.
    </div>
    <script>
        function openModal(src) {
            var modal = document.getElementById("imageModal");
            var modalImg = document.getElementById("modalImage");
            modal.style.display = "block";
            modalImg.src = src;
        }

        // Get the modal element
        var modal = document.getElementById("imageModal");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // Also close the modal when the user clicks anywhere outside the image
        modal.onclick = function(event) {
            if (event.target == modal || event.target == modalImg) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
